body{
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#cabecera{
    background-color: plum;
    box-shadow: 0px 2px 20px 0px black;
    color: white;
    font-weight: bold;
    margin: 0 auto;
    padding: 0.5cm;
    font-size: 1cm;
}
#cabecera #tagline
{
    padding: 0 0 0 1cm;
    font-weight: normal;
    font-size: 0.6cm ;

}


#container{

    width: 70%;
    padding: 0cm;
    margin: 0 auto;
    text-align: left;
    border: 5px solid navajowhite;



}

#container h1{

    font-size: 30px;
}

#footer{
    background: darkturquoise;
    margin: auto;
    color: white;
    font-size: 30px;  
    text-align: center;
    vertical-align: center;
    
}